

body{
  background-color:  	#f9f9f9;
font-family: "Montserrat";
  text-align: center;
  color: #00000;
  border:450px solid #5bc0de;
  border-top: 0px;
  margin: 0px;
}

p{
  color: #00000;
  padding-top: 5%;
  padding-left: 20%;
  padding-right: 20%;
}

.userinput{
  font-size: 1.5em;
  margin-bottom: 10px;
}

h2{
  margin-bottom: 5%;
}

img{
  image-orientation:100%;
}
